h1{
    text-align: center;
    background-color:red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

p{
text-align: left;
font-size: 28px;
}

body{
    background-color:aqua;
}